@import "tailwindcss";

@font-face {
    font-family: "Fondamento";
    src: url("/fonts/Fondamento-Regular.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --background: #f2f2eb;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --font-serif: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

.font-fondamento {
    font-family: 'Fondamento', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

@layer utilities {
    .bg-grid {
        background-size: 40px 40px;
        background-image:
            linear-gradient(to right, #e5e5e5 0.5px, transparent 0.5px),
            linear-gradient(to bottom, #e5e5e5 0.5px, transparent 0.5px);
    }

    .text-balance {
        text-wrap: balance;
    }

    .bg-paper-grain {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
